:root {
  --primary-clr: #b38add;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e2e1dc;
}

.container {
  position: relative;
  width: 1200px;
  margin: 55px auto;
  padding: 0.25px;
  color: #fff;
  display: flex;
  border-radius: 12px;
  background-color: #373c4f;
}

.left {
  width: 100%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

.calendar .month {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .weekdays-days-container {
  margin-top: -50px;
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: -20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.calendar .days .active {
  position: relative;
  font-size: 1.75rem;
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
  font-size: 1.75rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .event:hover::after {
  background-color: #fff;
}

.calendar .active.event::after {
  background-color: #fff;
  bottom: 20%;
}

.calendar .active.event {
  padding-bottom: 10px;
}

.day-menu {
  position: absolute;
  margin-top: 2%;
  margin-left: 49.25%;
  width: 55%;
  height: 200%;
  display: flex;
  justify-content: space-between;

  color: #fff;
}

.fa-xmark {
  cursor: pointer;
  padding: 5px;
  margin: -5px;
}

.fa-xmark:hover {
  background-color: #fff;
  color: #373c4f;
  border: 1px solid transparent;
  border-radius: 20%;
}

.activity-icon {
  width: 10%;
  height: 10%;
  margin: -5px 20px -5px 10px;
}

.table {
  margin: auto;
  width: 100%;
}
