:root {
  --primary-clr: #8a8edd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e2e1dc;
}

.container {
  position: relative;
  width: 1000px;
  margin: 55px auto;
  padding: 0.25px;
  color: #fff;
  display: flex;
  border-radius: 12px;
  background-color: #373c4f;
  min-height: 660px;
}

.container-container {
  width: 100%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

.calendar .month {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .weekdays-days-container {
  margin-top: -50px;
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: -20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.calendar .days .active {
  position: relative;
  font-size: 1.75rem;
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
  font-size: 1.75rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .event:hover::after {
  background-color: #fff;
}

.calendar .active.event::after {
  background-color: #fff;
  bottom: 20%;
}

.calendar .active.event {
  padding-bottom: 10px;
}

.day-menu {
  position: absolute;
  margin-top: 2%;
  margin-left: 49.25%;
  width: 55%;
  height: 200%;
  display: flex;
  justify-content: space-between;

  color: #fff;
}

.fa-xmark {
  cursor: pointer;
  padding: 5px;
  margin: -5px;
}

.fa-xmark:hover {
  background-color: #fff;
  color: #373c4f;
  border: 1px solid transparent;
  border-radius: 20%;
}

.activity-icon {
  width: 10%;
  height: 10%;
  margin: -5px 20px -5px 10px;
}

.table {
  margin: auto;
  width: 100%;
}

/* The default view. Display attribute is toggled when user clicks on a date. Default is */
.calendar-view {
  display: block;
}

/* The display attribute of this class is toggled when user clicks on a date. Default is none. */
.activity-view {
  display: none;
}

/* Container used for when date is clicked on  */
.activity-container {
  display: flex;
  flex-direction: row;
  min-height: 619.5px;
}

/* Back arrow visible in Activity View */
.fa-arrow-left {
  transition: font-size 0.5s ease;
  position: absolute;
  margin: 15px;
  font-size: 12pt;
}

.fa-arrow-left:hover {
  font-size: 16pt;
  cursor: pointer;
}

/* Plan side is the left side of the screen when you click on a day
This side allows the user to view activities they've planned and add a
new planned activity. If there are no planned activities, a message will 
display describing such */
.plan-side {
  margin-top: 1.5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.plan-side h1 {
  position: absolute;
  top: 8%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Activity side is the right side of the screen when you click on a day  
This side allows the user to view activities recorded from their Apple Watch 
If there are no activities recorded, a message will display describing such */
.activity-side {
  flex: 1;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.activity-side h1 {
  position: absolute;
  top: 8%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.planned-activity-container {
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 90%;
  border: 5px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 3%;
  margin-top: 20%;
  overflow: scroll;
}

/* Visible when user chooses to add a new activity */
.add-activity-view {
  display: none;
}

/* Controls the items within the add activity screen */
.add-activity-container {
  margin-top: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For each one of the planned activities that the user created */
.planned-activity-item {
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  min-width: 80%;
  max-height: 15%;
  margin: 2%;
}

.planned-activity-item img {
  width: 15%;
  height: auto;
  margin-left: 4.5%;
  align-self: center;
}

.planned-activity-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #878895;
  width: 100%;
  margin-top: 3.5%;
  margin-right: 9%;
  white-space: pre-wrap;
}

.planned-activity-item p {
}
